*:not(ul) {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #707070;
}

body {
    padding: 10vh 0 0 0;
}
h1,
h2 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.layout_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    width: 1100px;
    margin: auto;
}

.logo {
    grid-column: span 1;
}

.center_content {
    grid-column: span 5;
}

.facebook_feed {
    grid-column: span 4;
}

.facebook_post {
    width: 100%;
    padding: .7em 0;
}
.facebook_post+.facebook_post{
    border-top: 1px solid #DFDFDF;
}
.facebook_post p{
    padding: .7em 0 0 0;
}
.facebook_post_image {
    width: 100%;
    height: 300px;
}
.inner_scroll{
    height: 80vh;
    overflow-y: scroll;
}
.inner_scroll:nth-last-child(1){
    padding-bottom: 200px;
}
.inner_scroll::-webkit-scrollbar {
    width: 10px;
}
.inner_scroll::-webkit-scrollbar-thumb {
    background: #DFDFDF;
    border-radius: 5em;
    margin: auto;
  }
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 2em 0;
    -webkit-box-shadow: 0px 0px 54px 50px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 54px 50px rgba(255,255,255,1);
    box-shadow: 0px 0px 54px 50px rgba(255,255,255,1);
}
.contact{
    grid-column: span 2;;
}
.contact a{
    display: block;
}
.links{
    grid-column: span 2;
}
.center_content p{
    padding: .5em 0;
}
.jac{
    color: tomato;
    height: 70px;
}
.social_media{
    display: flex;
}
.social_media a{
    display: block;
    margin: .5em 1em;
}
